h1 {
    background-color: bisque;
    font-size: 60px;
    text-align: center;
}

body {
    text-align: center;
}

ul,
ol {
    list-style-position: inside;
}
.menu {
    list-style-position: inside;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    background-color: rgba(92, 9, 95, 0.493);
}

.recipe-body {
    background-color: rgba(249, 250, 215, 0.705);
}